<div class="col-xs-8 container">
  <div class="board">
    <div class="row row7">
      <div class="col-xs-1 space 07 white"></div>
      <div class="col-xs-1 space 17 black"></div>
      <div class="col-xs-1 space 27 white"></div>
      <div class="col-xs-1 space 37 black"></div>
      <div class="col-xs-1 space 47 white"></div>
      <div class="col-xs-1 space 57 black"></div>
      <div class="col-xs-1 space 67 white"></div>
      <div class="col-xs-1 space 77 black"></div>
    </div>
    <div class="row row6">
      <div class="col-xs-1 space 06 black"></div>
      <div class="col-xs-1 space 16 white"></div>
      <div class="col-xs-1 space 26 black"></div>
      <div class="col-xs-1 space 36 white"></div>
      <div class="col-xs-1 space 46 black"></div>
      <div class="col-xs-1 space 56 white"></div>
      <div class="col-xs-1 space 66 black"></div>
      <div class="col-xs-1 space 76 white"></div>
    </div>
    <div class="row row5">
      <div class="col-xs-1 space 05 white"></div>
      <div class="col-xs-1 space 15 black"></div>
      <div class="col-xs-1 space 25 white"></div>
      <div class="col-xs-1 space 35 black"></div>
      <div class="col-xs-1 space 45 white"></div>
      <div class="col-xs-1 space 55 black"></div>
      <div class="col-xs-1 space 65 white"></div>
      <div class="col-xs-1 space 75 black"></div>
    </div>
    <div class="row row4">
      <div class="col-xs-1 space 04 black"></div>
      <div class="col-xs-1 space 14 white"></div>
      <div class="col-xs-1 space 24 black"></div>
      <div class="col-xs-1 space 34 white"></div>
      <div class="col-xs-1 space 44 black"></div>
      <div class="col-xs-1 space 54 white"></div>
      <div class="col-xs-1 space 64 black"></div>
      <div class="col-xs-1 space 74 white"></div>
    </div>
    <div class="row row3">
      <div class="col-xs-1 space 03 white"></div>
      <div class="col-xs-1 space 13 black"></div>
      <div class="col-xs-1 space 23 white"></div>
      <div class="col-xs-1 space 33 black"></div>
      <div class="col-xs-1 space 43 white"></div>
      <div class="col-xs-1 space 53 black"></div>
      <div class="col-xs-1 space 63 white"></div>
      <div class="col-xs-1 space 73 black"></div>
    </div>
    <div class="row row2">
      <div class="col-xs-1 space 02 black"></div>
      <div class="col-xs-1 space 12 white"></div>
      <div class="col-xs-1 space 22 black"></div>
      <div class="col-xs-1 space 32 white"></div>
      <div class="col-xs-1 space 42 black"></div>
      <div class="col-xs-1 space 52 white"></div>
      <div class="col-xs-1 space 62 black"></div>
      <div class="col-xs-1 space 72 white"></div>
    </div>
    <div class="row row1">
      <div class="col-xs-1 space 01 white"></div>
      <div class="col-xs-1 space 11 black"></div>
      <div class="col-xs-1 space 21 white"></div>
      <div class="col-xs-1 space 31 black"></div>
      <div class="col-xs-1 space 41 white"></div>
      <div class="col-xs-1 space 51 black"></div>
      <div class="col-xs-1 space 61 white"></div>
      <div class="col-xs-1 space 71 black"></div>
    </div>
    <div class="row row0">
      <div class="col-xs-1 space 00 black"></div>
      <div class="col-xs-1 space 10 white"></div>
      <div class="col-xs-1 space 20 black"></div>
      <div class="col-xs-1 space 30 white"></div>
      <div class="col-xs-1 space 40 black"></div>
      <div class="col-xs-1 space 50 white"></div>
      <div class="col-xs-1 space 60 black"></div>
      <div class="col-xs-1 space 70 white"></div>
    </div>
  </div>
</div>
