
<h1>Hello and Welcome to Chesster!</h1>
<script>
	$(function() {
		var myFirebaseRef = new Firebase("https://burning-heat-9967.firebaseio.com/");

		myFirebaseRef.child("firstFireItem").on("child_added", function(snapshot) {
			var message = "Wee are on fiyah now!";
			console.log(message);
		});

	});
</script>

