<h1>Hello Welcome to Chesster!</h1>
<!-- <div class="table-responsive">
  <table class="table">

  </table>
</div> -->
<!-- <div class="col-xs-8 container"> -->
	<div class="table-responsive">
 <table class="board table chess">
 <tr class="row row7">
 <td class="col-xs-1 space 07 white"></td>
 <td class="col-xs-1 space 17 black info"></td>
 <td class="col-xs-1 space 27 white"></td>
 <td class="col-xs-1 space 37 black info"></td>
 <td class="col-xs-1 space 47 white"></td>
 <td class="col-xs-1 space 57 black info"></td>
 <td class="col-xs-1 space 67 white"></td>
 <td class="col-xs-1 space 77 black info"></td>
 </tr>
 <tr class="row row6">
 <td class="col-xs-1 space 06 black info"></td>
 <td class="col-xs-1 space 16 white"></td>
 <td class="col-xs-1 space 26 black info"></td>
 <td class="col-xs-1 space 36 white"></td>
 <td class="col-xs-1 space 46 black info"></td>
 <td class="col-xs-1 space 56 white"></td>
 <td class="col-xs-1 space 66 black info"></td>
 <td class="col-xs-1 space 76 white"></td>
 </tr>
 <tr class="row row5">
 <td class="col-xs-1 space 05 white"></td>
 <td class="col-xs-1 space 15 black info"></td>
 <td class="col-xs-1 space 25 white"></td>
 <td class="col-xs-1 space 35 black info"></td>
 <td class="col-xs-1 space 45 white"></td>
 <td class="col-xs-1 space 55 black info"></td>
 <td class="col-xs-1 space 65 white"></td>
 <td class="col-xs-1 space 75 black info"></td>
 </tr>
 <tr class="row row4">
 <td class="col-xs-1 space 04 black info"></td>
 <td class="col-xs-1 space 14 white"></td>
 <td class="col-xs-1 space 24 black info"></td>
 <td class="col-xs-1 space 34 white"></td>
 <td class="col-xs-1 space 44 black info"></td>
 <td class="col-xs-1 space 54 white"></td>
 <td class="col-xs-1 space 64 black info"></td>
 <td class="col-xs-1 space 74 white"></td>
 </tr>
 <tr class="row row3">
 <td class="col-xs-1 space 03 white"></td>
 <td class="col-xs-1 space 13 black info"></td>
 <td class="col-xs-1 space 23 white"></td>
 <td class="col-xs-1 space 33 black info"></td>
 <td class="col-xs-1 space 43 white"></td>
 <td class="col-xs-1 space 53 black info"></td>
 <td class="col-xs-1 space 63 white"></td>
 <td class="col-xs-1 space 73 black info"></td>
 </tr>
 <tr class="row row2">
 <td class="col-xs-1 space 02 black info"></td>
 <td class="col-xs-1 space 12 white"></td>
 <td class="col-xs-1 space 22 black info"></td>
 <td class="col-xs-1 space 32 white"></td>
 <td class="col-xs-1 space 42 black info"></td>
 <td class="col-xs-1 space 52 white"></td>
 <td class="col-xs-1 space 62 black info"></td>
 <td class="col-xs-1 space 72 white"></td>
 </tr>
 <tr class="row row1">
 <td class="col-xs-1 space 01 white"></td>
 <td class="col-xs-1 space 11 black info"></td>
 <td class="col-xs-1 space 21 white"></td>
 <td class="col-xs-1 space 31 black info"></td>
 <td class="col-xs-1 space 41 white"></td>
 <td class="col-xs-1 space 51 black info"></td>
 <td class="col-xs-1 space 61 white"></td>
 <td class="col-xs-1 space 71 black info"></td>
 </tr>
 <tr class="row row0">
 <td class="col-xs-1 space 00 black info"></td>
 <td class="col-xs-1 space 10 white"></td>
 <td class="col-xs-1 space 20 black info"></td>
 <td class="col-xs-1 space 30 white"></td>
 <td class="col-xs-1 space 40 black info"></td>
 <td class="col-xs-1 space 50 white"></td>
 <td class="col-xs-1 space 60 black info"></td>
 <td class="col-xs-1 space 70 white"></td>
 </tr>
 </table>
</td>