// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
 padding: 30px 0px 0px 50px;
}

.board{
}

.space {
 border:1px solid gray;
 height: 75px;
 width: 75px;
}
// to force Bootstrap to do the black cells
.info{
	background-color: #000000 !important;
}
// this didn't work, so overrode the derault 'info' class definition
// .chess td .black {
//  background-color: #000000 !important;
// }
